schemas/exercise.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
       xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
       >

  <namespace ns="http://www.tei-c.org/ns/1.0">
    <validate schema="./exercise.rnc" schemaType="application/relax-ng-compact-syntax"/>
    <validate schema="./exercise.isosch"/>
  </namespace>

</rules>
