schemas/exercise.isosch

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
  <title>ISO Schematron rules</title>
  <!-- This file generated 2015-11-08T11:03:33Z by 'extract-isosch.xsl'. -->

  <!-- ********************* -->
  <!-- namespaces, declared: -->
  <!-- ********************* -->
  <ns prefix="tei" uri="http://www.tei-c.org/ns/1.0"/>
  <ns prefix="xs" uri="http://www.w3.org/2001/XMLSchema"/>
  <ns prefix="rng" uri="http://relaxng.org/ns/structure/1.0"/>

  <!-- ********************* -->
  <!-- namespaces, implicit: -->
  <!-- ********************* -->
  <ns prefix="dcr" uri="http://www.isocat.org/ns/dcr"/>

  <!-- ************ -->
  <!-- constraints: -->
  <!-- ************ -->
  <pattern id="exercise-att.datable-calendar-constraint-calendar-1">
    <rule context="tei:*[@calendar]">
      <assert test="string-length(.) gt 0">
	@calendar indicates the system or calendar to which the date represented by the content of this element
      belongs, but this <name/> element has no textual content.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-att.typed-constraint-subtypeTyped-2">
    <rule context="*[@subtype]">
      <assert test="@type">The <name/> element should not be categorized in detail with @subtype
      unless also categorized in general with @type</assert>
    </rule>
  </pattern>
  <pattern id="exercise-att.pointing-targetLang-constraint-targetLang-3">
    <rule context="tei:*[not(self::tei:schemaSpec)][@targetLang]">
      <assert test="@target">@targetLang should only be used on <name/> if @target is specified.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-att.spanning-spanTo-constraint-spanTo-2-4">
    <rule context="tei:*[@spanTo]">
      <assert test="id(substring(@spanTo,2)) and following::*[@xml:id=substring(current()/@spanTo,2)]">
	The element indicated by @spanTo (<value-of select="@spanTo"/>) must follow the current element <name/>
      </assert>
    </rule>
  </pattern>
  <pattern id="exercise-att.styleDef-schemeVersion-constraint-schemeVersionRequiresScheme-5">
    <rule context="tei:*[@schemeVersion]">
      <assert test="@scheme and not(@scheme = 'free')">
	@schemeVersion can only be used if @scheme is specified.
      </assert>
    </rule>
  </pattern>
  <pattern id="exercise-p-constraint-abstractModel-p-6">
    <rule context="tei:p">
      <report test="(ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum                |parent::tei:item                |parent::tei:note                |parent::tei:q                |parent::tei:quote                |parent::tei:remarks                |parent::tei:said                |parent::tei:sp                |parent::tei:stage                |parent::tei:cell                |parent::tei:figure)">
	Abstract model violation: Paragraphs may not contain other paragraphs or ab elements.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-p-constraint-abstractModel-structure-l-7">
    <rule context="tei:p">
      <report test="ancestor::tei:l[not(.//tei:note//tei:p[. = current()])]">
	Abstract model violation: Lines may not contain higher-level structural elements such as div, p, or ab.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-ptr-constraint-ptrAtts-8">
    <rule context="tei:ptr">
      <report test="@target and @cRef">Only one of the
      attributes @target and @cRef may be supplied on <name/>.</report>
    </rule>
  </pattern>
  <pattern id="exercise-ref-constraint-refAtts-9">
    <rule context="tei:ref">
      <report test="@target and @cRef">Only one of the
      attributes @target' and @cRef' may be supplied on <name/>
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-list-constraint-gloss-list-must-have-labels-10">
    <rule context="tei:list[@type='gloss']">
      <assert test="tei:label">The content of a "gloss" list should include a sequence of one or more pairs of a label element followed by an item element</assert>
    </rule>
  </pattern>
  <pattern id="exercise-biblStruct-constraint-deprecate-altIdentifier-child-11">
    <rule context="tei:biblStruct">
      <report test="child::tei:idno" role="nonfatal">WARNING: use of deprecated method — the use of the idno element as a direct child of the biblStruct element will be removed from the TEI on 2016-09-18</report>
    </rule>
  </pattern>
  <pattern id="exercise-relatedItem-constraint-targetorcontent1-12">
    <rule context="tei:relatedItem">
      <report test="@target and count( child::* ) &gt; 0">
	If the @target attribute on <name/> is used, the
      relatedItem element must be empty</report>
      <assert test="@target or child::*">A relatedItem element should have either a 'target' attribute
      or a child element to indicate the related bibliographic item</assert>
    </rule>
  </pattern>
  <pattern id="exercise-l-constraint-abstractModel-structure-l-13">
    <rule context="tei:l">
      <report test="ancestor::tei:l[not(.//tei:note//tei:l[. = current()])]">
	Abstract model violation: Lines may not contain lines or lg elements.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-lg-constraint-atleast1oflggapl-14">
    <rule context="tei:lg">
      <assert test="count(descendant::tei:lg|descendant::tei:l|descendant::tei:gap) &gt; 0">An lg element
      must contain at least one child l, lg or gap element.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-lg-constraint-abstractModel-structure-l-15">
    <rule context="tei:lg">
      <report test="ancestor::tei:l[not(.//tei:note//tei:lg[. = current()])]">
	Abstract model violation: Lines may not contain line groups.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-s-constraint-noNestedS-16">
    <rule context="tei:s">
      <report test="tei:s">You may not nest one s element within
      another: use seg instead</report>
    </rule>
  </pattern>
  <pattern id="exercise-span-constraint-targetfrom-17">
    <rule context="tei:span">
      <report test="@from and @target">
	Only one of the attributes @target and @from may be supplied on <name/>
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-span-constraint-targetto-18">
    <rule context="tei:span">
      <report test="@to and @target">
	Only one of the attributes @target and @to may be supplied on <name/>
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-span-constraint-tonotfrom-19">
    <rule context="tei:span">
      <report test="@to and not(@from)">
      If @to is supplied on <name/>, @from must be supplied as well</report>
    </rule>
  </pattern>
  <pattern id="exercise-span-constraint-tofrom-20">
    <rule context="tei:span">
      <report test="contains(normalize-space(@to),' ') or contains(normalize-space(@from),' ')">
      The attributes @to and @from on <name/> may each contain only a single value</report>
    </rule>
  </pattern>
  <pattern id="exercise-quotation-constraint-quotationContents-21">
    <rule context="tei:quotation">
      <report test="not(@marks) and not (tei:p)">
      On <name/>, either the @marks attribute should be used, or a paragraph of description provided</report>
    </rule>
  </pattern>
  <pattern id="exercise-link-constraint-linkTargets3-22">
    <rule context="tei:link">
      <assert test="contains(normalize-space(@target),' ')">You must supply at least two values for @target or  on <name/>
      </assert>
    </rule>
  </pattern>
  <pattern id="exercise-ab-constraint-abstractModel-structure-p-23">
    <rule context="tei:ab">
      <report test="(ancestor::tei:p or ancestor::tei:ab)          and not(parent::tei:exemplum         |parent::tei:item         |parent::tei:note         |parent::tei:q         |parent::tei:quote         |parent::tei:remarks         |parent::tei:said         |parent::tei:sp         |parent::tei:stage         |parent::tei:cell         |parent::tei:figure)">
	Abstract model violation: ab may not contain paragraphs or other ab elements.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-ab-constraint-abstractModel-structure-l-24">
    <rule context="tei:ab">
      <report test="ancestor::tei:l or ancestor::tei:lg">
	Abstract model violation: Lines may not contain higher-level divisions such as p or ab.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-join-constraint-joinTargets3-25">
    <rule context="tei:join">
      <assert test="contains(@target,' ')">
	You must supply at least two values for @target on <name/>
      </assert>
    </rule>
  </pattern>
  <pattern id="exercise-relation-constraint-reforkeyorname-26">
    <rule context="tei:relation">
      <assert test="@ref or @key or @name">One of the attributes  'name', 'ref' or 'key' must be supplied</assert>
    </rule>
  </pattern>
  <pattern id="exercise-relation-constraint-activemutual-27">
    <rule context="tei:relation">
      <report test="@active and @mutual">Only one of the attributes
      @active and @mutual may be supplied</report>
    </rule>
  </pattern>
  <pattern id="exercise-relation-constraint-activepassive-28">
    <rule context="tei:relation">
      <report test="@passive and not(@active)">the attribute 'passive'
      may be supplied only if the attribute 'active' is
      supplied</report>
    </rule>
  </pattern>
  <pattern id="exercise-rdgGrp-constraint-only1lem-29">
    <rule context="tei:rdgGrp">
      <assert test="count(tei:lem) &lt; 2">Only one &lt;lem&gt; element may appear within a &lt;rdgGrp&gt;</assert>
    </rule>
  </pattern>
  <pattern id="exercise-variantEncoding-location-constraint-variantEncodingLocation-30">
    <rule context="tei:variantEncoding">
      <assert test="(@location != 'external') or (@method != 'parallel-segmentation')">
	The @location value "external" is inconsistent with the
      parallel-segmentation method of apparatus markup.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-div-constraint-abstractModel-structure-l-33">
    <rule context="tei:div">
      <report test="ancestor::tei:l">
	Abstract model violation: Lines may not contain higher-level structural elements such as div.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-div-constraint-abstractModel-structure-p-34">
    <rule context="tei:div">
      <report test="ancestor::tei:p or ancestor::tei:ab and not(ancestor::tei:floatingText)">
	Abstract model violation: p and ab may not contain higher-level structural elements such as div.
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-addSpan-constraint-spanTo-35">
    <rule context="tei:addSpan">
      <assert test="@spanTo">The @spanTo attribute of <name/> is required.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-damageSpan-constraint-spanTo-37">
    <rule context="tei:damageSpan">
      <assert test="@spanTo">
      The @spanTo attribute of <name/> is required.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-delSpan-constraint-spanTo-39">
    <rule context="tei:delSpan">
      <assert test="@spanTo">The @spanTo attribute of <name/> is required.</assert>
    </rule>
  </pattern>
  <pattern id="exercise-subst-constraint-substContents1-41">
    <rule context="tei:subst">
      <assert test="child::tei:add and child::tei:del">
      <name/> must have at least one child add and at least one child del</assert>
    </rule>
  </pattern>
  <pattern id="exercise-dimensions-constraint-duplicateDim-42">
    <rule context="tei:dimensions">
      <report test="count(tei:width)&gt; 1">
	The element <name/> may appear once only
      </report>
      <report test="count(tei:height)&gt; 1">
	The element <name/> may appear once only
      </report>
      <report test="count(tei:depth)&gt; 1">
	The element <name/> may appear once only
      </report>
    </rule>
  </pattern>
  <pattern id="exercise-msIdentifier-constraint-msId_minimal-43">
    <rule context="tei:msIdentifier">
      <report test="not(parent::tei:msPart) and       (local-name(*[1])='idno' or       local-name(*[1])='altIdentifier' or       normalize-space(.)='')">An msIdentifier must contain either a repository or location of some type, or a manuscript name</report>
    </rule>
  </pattern>
  <pattern id="exercise-msPart-constraint-deprecate-altIdentifier-child-44">
    <rule context="tei:msPart">
      <report test="child::tei:altIdentifier" role="nonfatal">WARNING: use of deprecated method — the use of the altIdentifier element as a direct child of the msPart element will be removed from the TEI on 2016-09-09</report>
    </rule>
  </pattern>

  <!-- *********** -->
  <!-- deprecated: -->
  <!-- *********** -->
  <pattern>
    <rule context="tei:teiHeader">
      <report test="@type" role="nonfatal">WARNING: use of deprecated attribute — @type of the teiHeader element will be removed from the TEI on 2016-11-18.
      </report>
    </rule>
  </pattern>
</schema>
